<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Tambahkan izin internet jika Anda berencana mengakses jaringan -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IT_Carreers_Catalog"
        tools:targetApi="31">

        <!-- Aktivitas Launcher yang akan dibuka pertama kali -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Deklarasikan semua aktivitas Anda yang lain di sini -->
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".FrontEndActivity" />
        <activity android:name=".BackEndActivity" />
        <activity android:name=".GameDevActivity" />
        <activity android:name=".DataAnalystActivity" />
        <activity android:name=".NetworkEngineerActivity" />
        <activity android:name=".CloudEngineerActivity" />
        <activity android:name=".DataScientistActivity" />

        <!--
        Asumsi: DashboardActivity adalah aktivitas yang menampilkan detail,
        dan Anda ingin bisa kembali dari sini.
        Ganti .DashboardActivity dengan nama Activity yang benar jika asumsi ini salah.
        -->
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".MainActivity">
            <!-- Meta-data ini diperlukan untuk mendukung API level yang lebih rendah -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>
