<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin internet (kalau nanti pakai API atau gambar online) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/profile_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/profile_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.IT_Carreers_Catalog"
        tools:targetApi="31">

        <!-- MainActivity sebagai launcher (entry point) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login & Register -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />

        <!-- Dashboard (Home) -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />

        <!-- About -->
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />

        <!-- Detail karier (semua pakai parent Dashboard) -->
        <activity android:name=".FrontEndActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".BackEndActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".MobileDevActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".GameDevActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".DataAnalystActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".DataScientistActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".UiUxDesignerActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".CyberSecurityActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".NetworkEngineerActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".CloudEngineerActivity" android:exported="false" android:parentActivityName=".DashboardActivity" />
        <activity android:name=".OnboardingIntroActivity" android:exported="false" />
        <activity android:name=".OnboardingScreen1Activity" android:exported="false" />
        <activity android:name=".OnboardingScreen2Activity" android:exported="false" />
        <activity android:name=".OnboardingScreen3Activity" android:exported="false" />

    </application>

</manifest>